@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

section {
    padding: 60px 100px;
}

/*main text section design*/

.main {
    text-align: center;
}

.main h2 {
    position: relative;
    font-weight: 700;
    color: rgba(1, 82, 152);
    padding: 13px 0;
}

.main h2::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 250px;
    height: 2px;
    background-color: #ddd;
    transform: translateX(-50%);
}

.main h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 80px;
    height: 2px;
    background-color: rgba(1, 82, 152);
    transform: translateX(-50%);
}

.main-txt {
    margin: 1.5rem 0;
    text-align: center;
}

.main-txt p {
    color: #444;
}


/*navigation section design*/

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    background: inherit;
    width: 100%;
    padding: 20px 100px;
    z-index: 10001;
}

.navlist a,
.logo h2 {
    color: #fff !important;
}

.navlist a {
    font-weight: 300;
    margin: 0 1rem;
    text-decoration: none;
    cursor: pointer;
    transition: .3s ease-in;
}

.navlist>a:hover,
.navlist-dropdown:hover>a {
    color: rgb(99, 181, 253) !important;
}

.navlist-btn a {
    padding: 10px 13px;
    border: 2px solid rgb(8, 138, 252);
    font-weight: 500;
    border-radius: 50px;
    transition: .3s ease-in;
}

.navlist-btn a:hover {
    background-color: rgb(8, 138, 252);
}

.navlist-dropdown {
    position: relative;
}

.deep-dropdown {
    position: relative;
}

.dropdown-content,
.deep-dropdown-content {
    position: absolute;
    opacity: 0;
    background-color: #fff;
    padding: 16px 0;
    border-radius: 3px;
    width: 200px;
    transition: .5s ease;
}

.dropdown-content {
    margin-top: 2rem;
}

.dropdown-content a {
    color: #222 !important;
    font-weight: 200;
    display: block;
    padding: 7px 0;
    transition: .1s ease;

}

.dropdown-content a:hover {
    font-weight: 400;
}

.navlist-dropdown:hover .dropdown-content {
    opacity: 1;
    margin-top: 0;
}


.deep-dropdown>a i {
    float: right;
    margin-top: 3px;
}

.deep-dropdown-content {
    opacity: 0;
    left: 210px;
    top: 0;
}

.deep-dropdown:hover .deep-dropdown-content {
    opacity: 1;
}


/*hero section design*/

.hero {
    padding: 0;
}

.hero-content {
    position: relative;
    padding: 120px 100px 30px;
}

.hero {
    background: linear-gradient(to top, rgba(2, 106, 195), rgba(1, 82, 152));
    height: 80vh;
}

.hero-txt h1 {
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 5px;
}

.hero-txt p {
    color: #eee;
    font-size: 1rem;
    font-weight: 300;
}

.hero-img img {
    display: block;
    width: 100%;
}

.hero-btn {
    margin-top: 2rem;
}

.hero-btn a {
    color: #fff;
    text-decoration: none;
    padding: 10px 13px;
    background-color: rgb(8, 138, 252);
    box-shadow: -2px 2px 2px rgba(34, 34, 34, .3);
    font-weight: 500;
    border-radius: 50px;
    transition: .3s ease-in;
}

.hero-btn a:hover:not(.watch-video) {
    background-color: rgb(7, 121, 221);
}

.hero-btn .watch-video {
    background-color: transparent;
    box-shadow: none;
    display: inline-flex;
    align-items: center;
}

.hero-btn .watch-video i {
    padding: 5px;
    border-radius: 30px;
    border: 2px solid #fff;
    margin-right: 7px;
    transition: .3s ease-in;
}


.hero-btn .watch-video:hover i {
    border-color: rgb(8, 138, 252);
    color: rgb(8, 138, 252);
}


@media screen and (max-width: 1200px) {

    .hero {
        height: 100vh;
    }

    .hero-img {
        width: 400px;
    }

    .hero-content {
        flex-direction: column-reverse;
    }
}

.hero-img {
    position: relative;
    animation: imgAnimation 2s linear infinite alternate;
}

@keyframes imgAnimation {

    0% {
        transform: translateY(-13px);
    }

    100% {
        transform: translateY(13px);
    }


}

/*partners section design*/

.partners {
    position: relative;
    padding: 0 100px;
    background: #f8f8f8;
}


.partner-logo img {
    display: block;
    width: 40%;
    margin: 2rem auto;
    filter: grayscale(1);
}

.partner-logo img:hover {
    filter: grayscale(0);
}

/*about section design*/

.about-txt-content {
    margin-top: 3rem;
}

.about-txt-content p,
.about-txt-content li {
    color: #555;
    font-weight: 400;
}

.about-txt-content ul {
    padding: 0;
    list-style: none;
}

.about-txt-content li {
    position: relative;
    display: flex;
    align-items: center;
    margin: 7px 0;
}

.about-txt-content li i {
    color: rgb(8, 138, 252);
    font-size: 1.5rem;
    margin-right: 5px;
}

.about-btn a {
    display: inline-block;
    border: 2px solid rgb(8, 138, 252);
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 2rem;
    font-weight: 400;
    transition: .3s ease-in;
}

.about-btn a:hover {
    background-color: rgb(8, 138, 252);
    color: #fff;
}

/*benefits section design*/

.benefits {
    background: #f8f8f8;
}

.benefits-img img {
    display: block;
    width: 100%;
}

.benefits-txt h3 {
    color: rgb(8, 138, 252);
    font-weight: 400;
    font-size: 1.9rem;
}

.benefits-txt span {
    font-weight: 600;
    color: rgba(1, 82, 152);
}

.benefits-txt p {
    color: #444;
}


.benefit-list-content {
    background: #fff;
    margin-bottom: 1rem;
    height: 65px;
    overflow: hidden;
    transition: .3s ease-out;
}

.benefit-list-content-new {
    transition: .3s ease-out;
    background: #fff;
    margin-bottom: 1rem;
    height: 200px;
}

.benefit-list-header {
    position: relative;
    text-decoration: none;
    display: flex;
    padding: 1rem;
    color: #222;
    font-weight: 500;
    cursor: pointer;
    align-items: center;
    transition: .3s ease;
}

.benefit-list-content-new .benefit-list-header {
    color: rgb(8, 138, 252);
}


.benefit-list-header span {
    color: rgb(8, 138, 252);
    font-size: 1.3rem;
    margin-right: 10px;
}

.benefit-list-header i {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.benefit-list-header:hover {
    color: rgb(8, 138, 252);
}

.benefit-list-header:hover i {
    color: rgb(8, 138, 252);
}

.benefit-list-body {
    padding: 5px 2rem;
}

/*skills section design*/

.skills-img img {
    width: 100%;
    display: block;
}

.skills-txt h3 {
    color: rgb(8, 138, 252);
    font-weight: 400;
    font-size: 1.9rem;
}

.skills-txt p {
    color: #444;
}

.skill-txt {
    display: flex;
    justify-content: space-between;
    color: rgba(1, 82, 152);
    font-weight: 600;
    font-size: 14px;
}

.skill-load {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #ddd;
    margin-bottom: 1rem;
}

.skill-load::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    top: 0;
    left: 0;
    background-color: rgb(8, 138, 252);
}

.skill-ratings .skill:nth-child(2) .skill-load::before {
    width: 90%;
}

.skill-ratings .skill:nth-child(3) .skill-load::before {
    width: 50%;
}

.skill-ratings .skill:nth-child(4) .skill-load::before {
    width: 80%;
}

/*services section design*/

.services {
    background: #f8f8f8;
}

.service {
    padding: 10px;
}

.service-content {
    background-color: #fff;
    box-shadow: 2px 2px 30px rgba(34, 34, 34, .2);
    padding: 2rem;
    cursor: pointer;
    transition: .3s ease-out;
}

.service-content:hover {
    transform: translateY(-5px);
}

.service-content:hover>p {
    color: rgb(8, 138, 252);
}

.service-content i {
    color: rgb(8, 138, 252);
    font-size: 2.5rem;
}

.service-title {
    margin-top: 10px;
}

.service-title h3 {
    color: rgba(1, 82, 152);
    font-size: 1.5rem;
}

.service-content p {
    color: #444;
    font-size: 14px;
    transition: .3s ease-out;
}

/*cta section design*/

.cta {
    padding: 120px 100px;
    background-image: linear-gradient(rgba(1, 82, 152, .8), rgba(1, 82, 152, .8)), url('./assets/cta.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.cta-content h3 {
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
}

.cta-txt-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta-txt-btn p {
    color: #fff;
    width: 900px;
    max-width: 100%;
}

.cta-txt-btn a {
    color: #fff;
    text-decoration: none;
    padding: 13px 2rem;
    border-radius: 30px;
    font-weight: 700;
    border: 2px solid #fff;
    transition: .3s ease-out;
}

.cta-txt-btn a:hover {
    background-color: #fff;
    color: rgb(8, 138, 252);
}

/*team section design*/

.team {
    background: #f8f8f8;
}

.team-txt {
    margin-top: 3rem;
}

.team-list-row {
    padding: 10px;
}

.team-list-content {
    background-color: #fff;
    box-shadow: 2px 2px 30px rgba(34, 34, 34, .2);
    padding: 2rem;
    cursor: pointer;
    transition: .3s ease-out;
    margin-bottom: 1rem;
    display: flex;
}

.team-list-content:hover {
    transform: translateY(-5px);
}

.team-list-img {
    width: 150px;
    margin-right: 2rem;
}

.team-list-img img {
    width: 100%;
    display: block;
    border-radius: 100px;
}

.team-profile h3 {
    font-size: 1.3rem;
    line-height: .3;
    font-weight: 600;
    color: rgba(1, 82, 152);
}

.team-profile span {
    position: relative;
    color: #444;
    font-weight: 300;
    font-size: 1rem;
}

.team-profile span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 50px;
    height: 1px;
    background-color: #ddd;
}

.team-profile p {
    margin-top: 10px;
    font-size: 15px;
    color: #444;
    font-weight: 400;
}

.team-social-links a {
    padding: 10px;
    background: #eee;
    border-radius: 30px;
    display: inline-flex;
    text-decoration: none;
    margin-right: 7px;
    transition: .3s ease-out;
}

.team-social-links a:hover {
    background-color: rgb(8, 138, 252);
    color: #fff;
}

/*pricing section design*/

.pricing-txt {
    margin-top: 3rem;
}

.pricing-list-row {
    padding: 10px;
}

.price-list-content {
    background-color: #fff;
    box-shadow: 2px 2px 30px rgba(34, 34, 34, .2);
    padding: 2rem;
    transition: .3s ease-out;
    border-radius: 8px;
    max-width: 500px;
    min-height: 500px;
    margin: 10px auto;
}

.price-list-content h4 {
    font-size: 1.1rem;
    font-weight: 600;
    color: rgba(1, 82, 152);
}

.price-list-content h3 {
    margin-top: 1.3rem;
    display: flex;
    font-size: 4rem;
    color: rgba(1, 82, 152);
}

.price-list-content h3 span {
    font-size: 1.5rem;
    align-self: flex-start;
}

.price-list-content>span {
    color: rgb(8, 138, 252);
}

.price-list-content-includes {
    margin-top: 2rem;
    list-style: none;
    padding: 0;
}

.price-list-content-includes li {
    margin-bottom: 1rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.price-list-content-includes li i {
    margin-right: 7px;
    font-size: 1.1rem;
}

.bx-check {
    color: green;
}

.bx-x {
    color: #666;
}

.price-list-content .btn {
    margin-top: 2rem;
    padding: 14px 2rem;
    background-color: transparent;
    color: rgb(8, 138, 252);
    border-radius: 30px;
    border: 1px solid rgb(8, 138, 252);
    transition: .3s ease-out;
}

.filter .btn {
    background-color: rgb(8, 138, 252);
    color: #fff;
}

.price-list-content .btn:hover:not(.filter a) {
    background-color: rgb(8, 138, 252);
    color: #fff;
}

/*faq section design*/

.faq {
    background: #f8f8f8;
}