@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

section {
    padding: 60px 100px;
}

/*main text section design*/

.main {
    text-align: center;
}

.main h2 {
    position: relative;
    font-weight: 700;
    color: rgba(1, 82, 152);
    padding: 13px 0;
}

.main h2::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 250px;
    height: 2px;
    background-color: #ddd;
    transform: translateX(-50%);
}

.main h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 80px;
    height: 2px;
    background-color: rgba(1, 82, 152);
    transform: translateX(-50%);
}

.main-txt {
    margin: 1.5rem 0;
    text-align: center;
}

.main-txt p {
    color: #444;
}


/*navigation section design*/

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    background: inherit;
    width: 100%;
    padding: 20px 100px;
    z-index: 10001;
    transition: .3s ease-out;
}

.navigation-bg {
    background-color: rgba(5, 51, 92, .8);
}

.navlist a,
.logo h2 {
    color: #fff !important;
}

.navlist a {
    font-weight: 300;
    margin: 0 1rem;
    text-decoration: none;
    cursor: pointer;
    transition: .3s ease-out;
}

.navlist>a:hover,
.navlist-dropdown:hover>a {
    color: rgb(99, 181, 253) !important;
}

.navlist-btn a {
    padding: 10px 13px;
    border: 2px solid rgb(8, 138, 252);
    font-weight: 500;
    border-radius: 50px;
    transition: .3s ease-out;
}

.navlist-btn a:hover {
    background-color: rgb(8, 138, 252);
}

.navlist-dropdown {
    position: relative;
}

.deep-dropdown {
    position: relative;
}

.dropdown-content,
.deep-dropdown-content {
    position: absolute;
    opacity: 0;
    background-color: #fff;
    padding: 16px 0;
    border-radius: 3px;
    width: 200px;
    transition: .5s ease;
}

.dropdown-content {
    margin-top: 2rem;
}

.dropdown-content a {
    color: #222 !important;
    font-weight: 200;
    display: block;
    padding: 7px 0;
    transition: .1s ease;

}

.dropdown-content a:hover {
    font-weight: 400;
}

.navlist-dropdown:hover .dropdown-content {
    opacity: 1;
    margin-top: 0;
}


.deep-dropdown>a i {
    float: right;
    margin-top: 3px;
}

.deep-dropdown-content {
    opacity: 0;
    left: 210px;
    top: 0;
}

.deep-dropdown:hover .deep-dropdown-content {
    opacity: 1;
}

.navlist-dropdown-btn-toggle {
    display: none !important;
}

.burger-menu {
    display: none;
}

/*hero section design*/

.hero {
    padding: 0;
}

.hero-content {
    position: relative;
    padding: 120px 100px 30px;
}

.hero {
    background: linear-gradient(to top, rgba(2, 106, 195), rgba(1, 82, 152));
    height: 80vh;
}

.hero-txt h1 {
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 5px;
}

.hero-txt p {
    color: #eee;
    font-size: 1rem;
    font-weight: 300;
}

.hero-img img {
    display: block;
    width: 100%;
}

.hero-btn {
    margin-top: 2rem;
}

.hero-btn a {
    color: #fff;
    text-decoration: none;
    padding: 10px 13px;
    background-color: rgb(8, 138, 252);
    box-shadow: -2px 2px 2px rgba(34, 34, 34, .3);
    font-weight: 500;
    border-radius: 50px;
    transition: .3s ease-in;
}

.hero-btn a:hover:not(.watch-video) {
    background-color: rgb(7, 121, 221);
}

.hero-btn .watch-video {
    background-color: transparent;
    box-shadow: none;
    display: inline-flex;
    align-items: center;
}

.hero-btn .watch-video i {
    padding: 5px;
    border-radius: 30px;
    border: 2px solid #fff;
    margin-right: 7px;
    transition: .3s ease-in;
}


.hero-btn .watch-video:hover i {
    border-color: rgb(8, 138, 252);
    color: rgb(8, 138, 252);
}


@media screen and (max-width: 1200px) {

    /*navlist section responsiveness*/

    .burger-menu {
        display: block;
        cursor: pointer;
    }

    .box {
        position: relative;
        width: 30px;
        height: 2px;
        background-color: #fff;
        margin: 5px;
        transition: .3s ease-out;
    }

    .box1 {
        transform: rotate(-45deg) translate(0, 0);
    }

    .box2 {
        opacity: 0;
    }

    .box3 {
        transform: rotate(45deg) translate(-5px, -9px);
    }

    .navlist {
        position: absolute;
        width: 90%;
        top: 5rem;
        left: 50%;
        transform: translateX(-50%);
        height: 80vh;
        background-color: #fff;
        flex-direction: column;
        align-items: start !important;
        padding: 2rem 1.5rem;
        border-radius: 8px;
        box-shadow: -2px 2px 16px rgba(34, 34, 34, .3);
        overflow-y: scroll;
        transition: .2s ease-out;
    }

    .navlist-fade {
        top: -40rem;
    }

    .navlist a,
    .navlist-dropdown,
    .deep-dropdown {
        color: #222 !important;
        margin: 0 auto 1rem;
        font-size: 14px;
        display: block;
        width: 100%;
    }

    .navlist a:hover {
        color: rgb(99, 181, 253);
        transition: .1s ease-out;
    }

    .navlist-dropdown-btn-toggle {
        display: block !important;
        margin-bottom: 0 !important;
    }

    .navlist-dropdown-btn-toggle.active,
    .deep-dropdown-btn-toggle.active {
        color: rgb(99, 181, 253) !important;
    }

    .dropdown-content,
    .deep-dropdown-content {
        margin: 1rem !important;
        position: relative;
        opacity: 1;
        padding: 0;
        margin: 0;
        width: 100%;
        left: 0;
        padding: 1rem !important;
        box-shadow: -2px 2px 16px rgba(34, 34, 34, .2);
    }

    .dropdown-content a:hover {
        font-weight: 300 !important;
        color: rgb(99, 181, 253) !important;
    }

    .dropdown-content.open,
    .deep-dropdown-content.open {
        display: block;
    }

    .dropdown-content.close,
    .deep-dropdown-content.close {
        display: none;
    }

    .dropdown-content a {
        color: #222;
        font-weight: 300;
        font-size: 14px;
        display: block;
        width: 100%;
        padding: 0;
    }

    .navlist-btn {
        display: inline-block !important;
    }

    .navlist-btn a {
        color: rgb(8, 138, 252) !important;
        width: 100%;
        padding: 10px 16px;
    }

    .navlist-btn a:hover {
        background-color: rgb(8, 138, 252);
        color: #fff !important;
    }

    .navlist-dropdown a i {
        float: right;
        font-size: 1.2rem;
        margin-right: 2rem;
    }

    .navlist-dropdown-btn {
        display: none !important;
    }

    /*hero section responsiveness*/

    .hero {
        height: 100vh;
    }

    .hero-img {
        width: 400px;
    }

    .hero-content {
        flex-direction: column-reverse;
    }

    .hero-txt {
        margin-top: 1.2rem;
        text-align: center;
    }


    .hero-txt h1 {
        color: #fff;
        font-size: 2.5rem;
    }


    .hero-btn {
        justify-content: center;
    }

    /*benefits section responsiveness*/

    .benefits-img img {
        width: 75% !important;
        margin: 0 auto;
    }

    /*skills section responsiveness*/

    .skills-img img {
        width: 75% !important;
        margin: 0 auto;
    }

    .skills-txt {
        margin-top: 2rem;
    }

    /*cta section responsiveness*/

    .cta-content h3 {
        text-align: center;
    }

    .cta-txt-btn {
        flex-direction: column;
        text-align: center;
    }

    .cta-txt-btn p {
        font-size: 14px;
    }


}

@media screen and (max-width: 991px) {

    section {
        padding: 60px 35px;
    }

}

@media screen and (max-width: 784px) {

    .hero-txt h1 {
        font-size: 2rem;
    }


}

@media screen and (max-width: 500px) {

    .navigation {
        padding: 20px 30px;
    }

    .hero {
        height: 50vh !important;
    }

    .hero-content {
        padding: 90px 30px 30px;
    }

    .hero-img,
    .watch-video {
        display: none !important;
    }

}


@media screen and (max-width: 410px) {

    section {
        padding: 60px 20px;
    }

    .hero-content {
        padding: 60px 30px 30px;
    }

    .hero-btn {
        margin-top: 1rem;
    }

    .partners {
        display: none;
    }


}


.hero-img {
    position: relative;
    animation: imgAnimation 2s linear infinite alternate;
}

@keyframes imgAnimation {

    0% {
        transform: translateY(-13px);
    }

    100% {
        transform: translateY(13px);
    }


}

/*partners section design*/

.partners {
    position: relative;
    padding: 0 100px;
    background: #f8f8f8;
}


.partner-logo img {
    display: block;
    max-width: 40% !important;
    margin: 2rem auto;
    filter: grayscale(1);
}

.partner-logo img:hover {
    filter: grayscale(0);
}


/*about section design*/

.about-txt-content {
    margin-top: 3rem;
}

.about-txt-content p,
.about-txt-content li {
    color: #555;
    font-weight: 400;
}

.about-txt-content ul {
    padding: 0;
    list-style: none;
}

.about-txt-content li {
    position: relative;
    display: flex;
    align-items: center;
    margin: 7px 0;
}

.about-txt-content li i {
    color: rgb(8, 138, 252);
    font-size: 1.5rem;
    margin-right: 5px;
}

.about-btn a {
    display: inline-block;
    border: 2px solid rgb(8, 138, 252);
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 2rem;
    font-weight: 400;
    transition: .3s ease-in;
}

.about-btn a:hover {
    background-color: rgb(8, 138, 252);
    color: #fff;
}

/*benefits section design*/

.benefits {
    background: #f8f8f8;
}

.benefits-img img {
    display: block;
    width: 100%;
}

.benefits-txt h3 {
    color: rgb(8, 138, 252);
    font-weight: 400;
    font-size: 1.9rem;
}

.benefits-txt span {
    font-weight: 600;
    color: rgba(1, 82, 152);
}

.benefits-txt p {
    color: #444;
}

.benefit-list-content {
    background: #fff;
    margin-bottom: 1rem;
    overflow: hidden;
    transition: .3s ease-out;
}

.benefit-list-body {
    height: 0;
}

.benefit-list-body-open {
    display: inline-block;
    padding: 5px 2rem;

}

.benefit-list-header {
    position: relative;
    text-decoration: none;
    display: block;
    padding: 1rem;
    color: #222;
    font-weight: 500;
    cursor: pointer;
    align-items: center;
    transition: .3s ease;
}

.benefit-list-content-new .benefit-list-header {
    color: rgb(8, 138, 252);
}


.benefit-list-header span {
    color: rgb(8, 138, 252);
    font-size: 1.3rem;
    margin-right: 10px;
}

.benefit-list-header i {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.benefit-list-header:hover {
    color: rgb(8, 138, 252);
}

.benefit-list-header:hover i {
    color: rgb(8, 138, 252);
}



/*skills section design*/

.skills-img img {
    width: 100%;
    display: block;
}

.skills-txt h3 {
    color: rgb(8, 138, 252);
    font-weight: 400;
    font-size: 1.9rem;
}

.skills-txt p {
    color: #444;
}

.skill-txt {
    display: flex;
    justify-content: space-between;
    color: rgba(1, 82, 152);
    font-weight: 600;
    font-size: 14px;
}

.skill-load {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #ddd;
    margin-bottom: 1rem;
}

.skill-load::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    top: 0;
    left: 0;
    background-color: rgb(8, 138, 252);
}

.skill-ratings .skill:nth-child(2) .skill-load::before {
    width: 90%;
}

.skill-ratings .skill:nth-child(3) .skill-load::before {
    width: 50%;
}

.skill-ratings .skill:nth-child(4) .skill-load::before {
    width: 80%;
}

/*services section design*/

.services {
    background: #f8f8f8;
}

.service {
    padding: 10px;
}

.service-content {
    background-color: #fff;
    box-shadow: 2px 2px 30px rgba(34, 34, 34, .2);
    padding: 2rem;
    cursor: pointer;
    transition: .3s ease-out;
}

.service-content:hover {
    transform: translateY(-5px);
}

.service-content:hover>p {
    color: rgb(8, 138, 252);
}

.service-content i {
    color: rgb(8, 138, 252);
    font-size: 2.5rem;
}

.service-title {
    margin-top: 10px;
}

.service-title h3 {
    color: rgba(1, 82, 152);
    font-size: 1.5rem;
}

.service-content p {
    color: #444;
    font-size: 14px;
    transition: .3s ease-out;
}

/*cta section design*/

.cta {
    padding: 120px 100px;
    background-image: linear-gradient(rgba(1, 82, 152, .8), rgba(1, 82, 152, .8)), url('./assets/cta.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.cta-content h3 {
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
}

.cta-txt-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta-txt-btn p {
    color: #fff;
    width: 800px;
    max-width: 100%;
}

.cta-txt-btn a {
    color: #fff;
    text-decoration: none;
    padding: 13px 2rem;
    border-radius: 30px;
    font-weight: 700;
    border: 2px solid #fff;
    transition: .3s ease-out;
    font-size: 14px;
}

.cta-txt-btn a:hover {
    background-color: #fff;
    color: rgb(8, 138, 252);
}

/*portfolio section design*/

.project-content {
    position: relative;
}

.project-images .row {
    float: left;
}



.project-images img {
    width: 33.33%;
    height: auto;
    display: block;
    margin: 20px 0;
}

.project-btn button {
    outline: none;
    border: none;
    padding: 6px 1rem;
    background-color: #fff;
    border-radius: 30px;
    transition: .1s ease-out;
    margin: 1rem 5px 10px;
}

.project-btn button:hover {
    background-color: dodgerblue;
    color: #fff;
}

.project-btn button.active {
    background-color: dodgerblue;
    color: #fff;
}

@media screen and (max-width: 840px) {

    .project-images img {
        width: 50%;
    }

}

@media screen and (max-width: 547px) {

    .project-images img {
        width: 100%;
    }

}

/*team section design*/

.team {
    background: #f8f8f8;
}

.team-txt {
    margin-top: 3rem;
}

.team-list-row {
    padding: 10px;
}

.team-list-content {
    background-color: #fff;
    box-shadow: 2px 2px 30px rgba(34, 34, 34, .2);
    padding: 2rem;
    cursor: pointer;
    transition: .3s ease-out;
    margin-bottom: 1rem;
    display: flex;
}

.team-list-content:hover {
    transform: translateY(-5px);
}

.team-list-img {
    width: 150px;
    margin-right: 2rem;
}

.team-list-img img {
    width: 100%;
    display: block;
    border-radius: 100px;
}

.team-profile h3 {
    font-size: 1.3rem;
    line-height: .3;
    font-weight: 600;
    color: rgba(1, 82, 152);
}

.team-profile span {
    position: relative;
    color: #444;
    font-weight: 300;
    font-size: 1rem;
}

.team-profile span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 50px;
    height: 1px;
    background-color: #ddd;
}

.team-profile p {
    margin-top: 10px;
    font-size: 15px;
    color: #444;
    font-weight: 400;
}

.team-social-links a {
    padding: 10px;
    background: #eee;
    border-radius: 30px;
    display: inline-flex;
    text-decoration: none;
    margin: 0 7px 8px 0;
    transition: .3s ease-out;
}

.team-social-links a:hover {
    background-color: rgb(8, 138, 252);
    color: #fff;
}

/*pricing section design*/

.pricing-txt {
    margin-top: 3rem;
}

.pricing-list-row {
    padding: 10px;
}

.price-list-content {
    position: relative;
    background-color: #fff;
    box-shadow: 2px 2px 30px rgba(34, 34, 34, .2);
    padding: 2rem;
    transition: .3s ease-out;
    border-radius: 8px;
    max-width: 500px;
    min-height: 500px;
    margin: 10px auto;
}

.pricing-list-row:nth-child(2) .price-list-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: rgb(8, 138, 252);
}

.price-list-content h4 {
    font-size: 1.1rem;
    font-weight: 600;
    color: rgba(1, 82, 152);
}

.price-list-content h3 {
    margin-top: 1.3rem;
    display: flex;
    font-size: 4rem;
    color: rgba(1, 82, 152);
}

.price-list-content h3 span {
    font-size: 1.5rem;
    align-self: flex-start;
}

.price-list-content>span {
    color: rgb(8, 138, 252);
}

.price-list-content-includes {
    margin-top: 2rem;
    list-style: none;
    padding: 0;
}

.price-list-content-includes li {
    margin-bottom: 1rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.price-list-content-includes li i {
    margin-right: 7px;
    font-size: 1.1rem;
}

.bx-check {
    color: green;
}

.bx-x {
    color: #666;
}

.price-list-content .btn {
    margin-top: 2rem;
    padding: 14px 2rem;
    background-color: transparent;
    color: rgb(8, 138, 252);
    border-radius: 30px;
    border: 1px solid rgb(8, 138, 252);
    transition: .3s ease-out;
}

.filter .btn {
    background-color: rgb(8, 138, 252);
    color: #fff;
}

.price-list-content .btn:hover:not(.filter a) {
    background-color: rgb(8, 138, 252);
    color: #fff;
}


/*faq section design*/

.faq {
    background: #f8f8f8;
}

.faq-list-content {
    background: #fff;
    overflow: hidden;
    transition: .3s ease-out;
    max-width: 1100px;
    margin: 0 auto 1rem;
}

.faq-list-header {
    position: relative;
    text-decoration: none;
    display: flex;
    padding: 1rem;
    color: #222;
    font-weight: 500;
    cursor: pointer;
    align-items: center;
    transition: .3s ease;
}

.faq-list-content-new .faq-list-header {
    color: rgb(8, 138, 252);
}


.faq-list-header span {
    color: rgb(8, 138, 252);
    font-size: 1.3rem;
    margin-right: 10px;
}

.faq-list-header>i {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.faq-list-header span i {
    font-size: 15px;
    padding: 2px;
    border: 2px solid rgb(8, 138, 252);
    border-radius: 30px;
}

.faq-list-header:hover {
    color: rgb(8, 138, 252);
}

.faq-list-header:hover i {
    color: rgb(8, 138, 252);
}

.faq-list-body {
    height: 0;
}

.faq-list-body-new {
    padding: 5px 2rem;
}

/*contact section design*/

.contact-list-row {
    padding: 10px;
}

.contact-list-content {
    position: relative;
    background-color: #fff;
    box-shadow: 2px 2px 30px rgba(34, 34, 34, .2);
    padding: 2rem 1rem;
    transition: .3s ease-out;
    margin-bottom: 1rem;
    min-height: 650px;
}

.contact-list-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: rgb(8, 138, 252);
}

.contact-list-content::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: rgb(8, 138, 252);
}

.contact-list-info {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
}

.contact-list-info i {
    font-size: 1.5rem;
    padding: 10px;
    background-color: rgba(8, 138, 252, .1);
    color: rgb(8, 138, 252);
    border-radius: 30px;
    margin-right: 1rem;
    transition: .3s ease-out;
}

.contact-list-info h3 {
    font-size: 1.3rem;
    color: rgba(1, 82, 152);
    font-weight: 600;
    line-height: .3;
}

.contact-list-info span {
    color: #444;
    font-size: 14px;
}

.contact-list-info:hover i {
    background-color: rgb(8, 138, 252);
    color: #fff;
}

.contact-list-map iframe {
    display: block;
    width: 100%;
    height: 300px;
}

.contact-list-content form {
    padding: 0 1rem;
}

.contact-list-form {
    margin-bottom: 1rem;
}

.contact-list-form label {
    width: 100%;
    color: #444;
    font-weight: 300;
    margin-bottom: 10px;
}

.contact-list-form input,
.contact-list-form textarea {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 7px 10px;
    font-weight: 300;
    transition: .3s ease-out;
}

.contact-list-form input:focus,
.contact-list-form textarea:focus {
    border: 1px solid #ddd;
    outline: 1px solid rgb(8, 138, 252);
}

.contact-list-form textarea {
    resize: vertical;
}

.contact-list-btn {
    text-align: center;
}

.contact-list-content .btn {
    margin: 1rem 0 0;
    padding: 14px 2rem;
    background-color: transparent;
    color: rgb(8, 138, 252);
    border-radius: 30px;
    border: 1px solid rgb(8, 138, 252);
    transition: .3s ease-out;
}

.contact-list-content .btn:hover {
    background-color: rgb(8, 138, 252);
    color: #fff;
}

/*newsletter section design*/

.newsletter {
    background: #f8f8f8;
}

.newsletter-content h3 {
    font-weight: 600;
    color: rgba(1, 82, 152);
    font-size: 1.5rem;
}

.newsletter-content p {
    color: #444;
    font-size: 1rem;
}

.newsletter-input {
    position: relative;
    max-width: 800px;
    margin: 0 auto
}

.newsletter-input input {
    position: relative;
    width: 100%;
    border-radius: 30px;
    padding: 10px 20px;
    font-weight: 300;
    border: none;
    outline: none;
    box-shadow: -2px 2px 16px rgba(34, 34, 34, .1);
}

.newsletter-input input:focus {
    outline: 2px solid rgb(8, 138, 252);
}

.newsletter-input a {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgb(8, 138, 252);
    border-radius: 30px;
    color: #fff;
    transition: .3s ease-out;
}

.newsletter-input a:hover {
    background-color: rgb(9, 128, 231);
}

/*links section design*/

.links {
    background-color: #fff;
}

.links-list-content {
    padding: 0 0 1rem;
}

.links-list-content h3 {
    color: rgba(1, 82, 152);
    font-weight: 600;
    font-size: 2rem;
}

.links-list-content .address,
.links-list-content .links-info {
    list-style: none;
    padding: 0;
}

.links-list-content .address {
    margin-top: 1rem;
}

.links-list-content .address li,
.links-list-content .links-info li {
    color: #444;
    font-size: 15px;
}

.links-list-content .links-info li span {
    color: #222;
    font-weight: 600;
    margin-right: 7px;
}

.links-list-content h4 {
    font-size: 1rem;
    color: rgba(1, 82, 152);
    font-weight: 700;
}

.other-links {
    margin-top: 1.5rem;
}

.other-links a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 13px;
    color: #444;
    transition: .1s ease-out;
}

.other-links i {
    color: rgb(8, 138, 252);
    font-weight: 500;
    margin-right: 5px;
}

.other-links a:hover {
    color: rgb(8, 138, 252);
}

.links-list-content p {
    color: #444;
    margin: 1.5rem 0;
}

.link-social-links a {
    display: inline-flex;
    text-decoration: none;
    padding: 10px;
    border-radius: 30px;
    background-color: rgb(8, 138, 252);
    margin-right: 5px;
    transition: .1s ease-out;
}

.link-social-links a i {
    color: #fff;
}

.link-social-links a:hover {
    background-color: rgb(8, 130, 236);
}

/*footer section design*/

.arrowUp {
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 1000;
    display: none;
}

.arrowUp.active {
    display: block !important;
}

.arrowUp i {
    padding: 10px 13px;
    background-color: dodgerblue;
    color: #fff;
    border-radius: 50%;
    font-size: 1.2rem;
}